@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Avenir ,sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  margin: 0;

  pointer-events: none;
}